

<%= form_for @idea, html: {class: "form-group"} do |form| %>
  <% if @idea.errors.present? %>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
       <%= @idea.errors.full_messages.join(', ') %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <div class="input-group mb-1">
      <%= form.label :idea, class: "input-group-addon", style: "width:100px;" %>
      <%= form.text_field :title, class: "form-control", required: "required" %>
  </div>

  <div class="input-group mb-1">
    <%= form.label :description, class: "input-group-addon", style: "width:100px;" %>
    <%= form.text_area :description, class: "form-control", rows: "6", required: "required" %>
  </div>


  <%= form.submit "Submit", class:"btn btn-secondary btn-sm" %>


<% end %>
