<div class="container mt-3">

  <h2><%= @idea.title %></h2>
  <p><%= @idea.description %></p>
  <p>By: <%= @idea.user&.full_name || "[deleted]" %></p>
  <p><strong>Created at: </strong> <%= time_ago_in_words(@idea.created_at) %> ago</p>
  <p><strong>Update at: </strong> <%= time_ago_in_words(@idea.updated_at) %> ago</p>

  <% if can?(:manage,@idea) %>
    <%= link_to 'Edit', edit_idea_path(@idea) %>
    <%= link_to(
         'Delete',
         idea_path(@idea),
         method: :delete,
         data: {confirm: 'Are you sure?'}
       )
    %>
  <% end %>
  <hr>

  <h2>Reviews</h2>
  <%= form_for [@idea, @review] do |f| %>
    <% if @review.errors.present? %>
      <p>
        <%= @review.errors.full_messages.join(', ') %>
      </p>
    <% end %>

    <div>
      <%= f.text_area :body %>
    </div>

    <%= f.submit %>
  <% end %>
  <hr>

    <div>
        <% @reviews.each do |review| %>

            <p><%= review.body %></p>
            <p>By:<%= review.user&.full_name || "[deleted]" %></p>
            <p>
              <strong>Created At:</strong>
              <%= time_ago_in_words(review.created_at) %> ago
            </p>
            <% if can?(:destroy, review) %>
              <%= link_to(
                'Delete',
                idea_review_path(@idea, review),
                data: {confirm: 'Are you sure?'},
                method: :delete
              ) %>
            <% end %>
        <% end %>
    </div>


</div>
