<div class="container mt-3">

  <h2><%= @idea.title %></h2>
  <p><%= @idea.description %></p>



  <p><strong>Created at: </strong> <%= time_ago_in_words(@idea.created_at) %> ago</p>
  <p><strong>Update at: </strong> <%= time_ago_in_words(@idea.updated_at) %> ago</p>

  <%= link_to 'Edit', edit_idea_path(@idea) %>
  <%= link_to(
       'Delete',
       idea_path(@idea),
       method: :delete,
       data: {confirm: 'Are you sure?'}
     )
  %>

</div>
