<!DOCTYPE html>
<html>
  <head>
    <title>GreatIdea</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">IdeaFactory</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'New Idea', new_idea_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'All Ideas', ideas_path, class:"nav-link" %>
          </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
        </form>
        <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="#"><%= current_user.first_name %></a>
          </li>
          <li class="nav-item">
            <%= link_to(
              'Sign Out',
              session_path,
              method: :delete,
              class:"nav-link",
              data: {confirm: 'Do you really want to sign out?'}
            ) %>
          </li>
        <% else %>
        <li class="nav-item">
          <%= link_to 'Sign In', new_session_path %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_path %>
        </li>
        <% end %>
      </ul>
      </div>
    </nav>


    <div class="container">
       <% if flash[:notice].present? %>
         <div class="alert alert-success alert-dismissible fade show" role="alert">
           <%= flash[:notice] %>
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
       <% elsif flash[:alert].present? %>
         <div class="alert alert-danger alert-dismissible fade show" role="alert">
           <%= flash[:alert] %>
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
       <% end %>

    <%= yield %>
    </div>


  </body>
</html>
